/* Algemene styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

html {
    scroll-behavior: smooth;
    font-size: 1rem;
}

html, body {
    overflow-x: hidden;
    width: 100vw;
}

body {
    background-color: #0B0C10;
    text-align: center;
    color: white; 
}

img {
    max-width: 100%;
    height: auto;
}

input {
    outline: none; 
    padding: 5px;
    border-radius: 4px;
    width: 250px;
}

label,
textarea {
    font-size: 1.2rem;
    text-align: left;
    outline: none;
}

p {
    font-size: 1.3rem;
}

h2 {
    margin: 0;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.1rem;
}

a[href="#"] {
    font-size: 2rem;
    color: white; 
    transition: .3s linear;
}

a[href="#"]:hover {
    color: #66FCF1; 
}

img[src="img/daniel.jpg"], img[src="img/007_cast.jpg"] {
    width: 500px; 
    height: auto;
    object-fit: contain;
}

nav.navbar {
    background-color: #1F2833;
}

nav.navbar h2 {
    font-size: 1.6rem;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 100vw; 
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#66FCF1, var(--primary));
    border-radius: 100vw;
}

.navbar.fixed-bottom.footer, footer {
    background-color: #1F2833;
    display: block;

}

footer a[href="index.html"], .navbar.fixed-bottom.footer a[href="index.html"] {
    color: #66FCF1;
}

.about-me {
    padding-bottom: 70px;
}

.card {
    background-color: #1F2833;
}

.movies .card {
    transition: .3s linear;
    width: 100%;
    height: auto;
    margin: 10px 0px 10px 0px;
}

.movies .card:hover {
    box-shadow: 0 0 5px white;
    transform: scale(1.01);
}

.card-header {
    background-color: #2e3a47; 
}

.breadcrumbs .row {
    align-items: flex-start;
    justify-content: flex-start;
}

.card-img-top {
    width: 180px;
    height: 254px;
    margin: 0 auto;
}

.breadcrumb {
    background-color: #0B0C10;
}

.breadcrumb-item {
    font-size: 1.3rem;
}

.bond {
    background-image: url(img/slide1.webp); 
    background-size: cover;
    background-position: center;
}

.bond-cast {
    background-image: url(img/007-cast.jpg); 
    background-size: cover;
    background-position: center;
}

.about {
    background-image: url(img/about.jpg); 
    background-size: cover;
    background-position: center;
}

.f9-cast {
    background-image: url(img/f9-cast.jpg); 
    background-size: cover;
    background-position: center;
}

.f9 {
    background-image: url(img/slide3.webp); 
    background-size: cover;
    background-position: center;
}

.form {
    background-image: url(img/form.jpg); 
    background-size: cover;
    background-position: bottom;
}

.jumbotron .jumbotron-fluid {
    background-color: #0B0C10; 
}

.checked {
    color: #FECE00;
}

.display-3 {
    font-weight: 500;
}

.link {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.pagination > li > a
{
    font-size: 1.2rem;
    background-color: #0B0C10;
    color: var(--primary);
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: white;
    background-color: var(--primary);
    border: solid 1px var(--primary) !Important;
    border-color: var(--primary);
}

.pagination > .active > a
{
    color: white;
    background-color: #5A4181 !Important;
    border: solid 1px var(--primary) !Important;
}

.pagination > .active > a:hover
{
    background-color: #0B0C10 !Important;
    border: solid 1px var(--primary);
}

#more {display: none;}
#myBtn {font-size: 1.1rem;}

/* Media Queries */
@media (max-width: 576px) {
    html {
      font-size: 0.8rem;
    }

    .movies .card {
        width: 400px;
        align-items: center;
        justify-content: center;
        margin: 10px auto;
    }

    div.col-md-3, .container.movies {
        padding: 0px 0px;
    }
}
/* Media Queries Einde */